.search-pop-overlay {
  background: rgba(0,0,0,0.3);
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1400;
}
.search-popup {
  background: #fff;
  border-radius: 5px;
  display: none;
  height: 80%;
  left: 50%;
  margin-left: -350px;
  padding: 0;
  position: fixed;
  top: 10%;
  width: 700px;
  z-index: 1500;
}
@media (max-width: 767px) {
  .search-popup {
    border-radius: 0;
    height: 100%;
    left: 0;
    margin: 0;
    top: 0;
    width: 100%;
  }
}
.search-popup .search-icon,
.search-popup .popup-btn-close {
  color: #999;
  font-size: 18px;
  padding: 0 10px;
  line-height: 2.7;
}
.search-popup .popup-btn-close {
  border-left: 1px solid #eee;
  cursor: pointer;
}
.search-popup .popup-btn-close:hover .fa {
  color: #222;
}
.search-popup .search-header {
  display: flex;
  background: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}
.site-search input.search-input {
  background: transparent;
  border: 0;
  outline: 0;
  width: 100%;
}
.site-search input.search-input::-webkit-search-cancel-button {
  display: none;
}
.search-loading-icon {
  margin: 20% auto 0 auto;
  text-align: center;
}
.search-popup .search-input-container {
  flex-grow: 1;
  padding: 2px;
}
.search-popup ul.search-result-list {
  margin: 0 5px;
  padding: 0;
  width: 100%;
}
.search-popup p.search-result {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}
.search-popup a.search-result-title {
  font-weight: bold;
}
.search-popup .search-keyword {
  border-bottom: 1px dashed #ff2a2a;
  color: #ff2a2a;
  font-weight: bold;
}
.search-popup #search-result {
  display: flex;
  height: calc(100% - 55px);
  overflow: auto;
  padding: 5px 25px;
  background: #fff;
  border-radius: 5px;
}
.search-popup #no-result {
  color: #ccc;
  margin: auto;
}
.fa-search-btn {
  position: absolute;
  right: 3%;
  top: 25%;
}
.search-input-btn {
  background: #999 !important;
}
.search-result-list a{
  text-decoration: none;
}
input::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
    color: #fff;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
    color: #fff;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
    color: #fff;
}
input:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
    color: #fff;
}