<article class="wrapper style1 align-left">
  <div class="inner">
    <div class="header">
      <h1 class="title"><%- post.title %></h1>
      <div class="stuff">
        <span><%- date(post.date, 'MMMM DD, YYYY') %></span>
        <span>字数  <%- strip_html(post.content).length %></span>
      </div>
    </div>
    <%- post.content %>
  </div>
</article>