<head>
  <title>Story by HTML5 UP</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <%- css(['/css/main.css', '/css/noscript.css']) %>
</head>